.BlogPage{
    width: 72%;
    margin: 1rem auto;
    text-align: center;
}
.BlogPage__content{
    padding: 4rem;
    background-color: #fff;
    border-radius: 1rem;
}
.BlogPage__content>h1{
    padding: 1rem;
    text-align: center;
}
.BlogPage__content img {
    /* scale: 1.5; */
    margin: 5rem;
}
.BlogPage__content>div>h2 , .BlogPage__content>div>p{
    padding: 0.8rem;
    text-align: left;

}
.BlogPage__content>div>h3{
text-align: left;
padding: 0.8rem;
}

.Services__nextblog{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    color: var(--clr-accent-white);
    background-color: var(--clr-secondary);
    padding: 0.5rem 1rem;
    float: right;
    margin: 1rem;
}
.Services__nextblog img{
scale: 0.8;
}

@media screen and (max-width:45rem) {
    .BlogPage img {
        width: 100%;
        margin: 0;
    }
    .BlogPage__content{
        padding: 0.5rem;
    }
}